.StudentList{
    display: flex;
    font-size:16px;
    background-color: #A2DBFA;
    justify-content: space-around;
    color: #142850;
    width: 70%;
    margin: 5px;
   padding: 5px 10px;
   border-radius: 10px;
}

.StudentList img{
    border-radius: 10px;
    width: 160px;
    margin: 15px;
}

.StudentList div{
    text-align:justify;
}